{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<table align="center", class="table table-striped">

    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
  {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ current_prices[stock.symbol]["name"] }}</td>
                    <td>{{ current_prices[stock.symbol]["price"] | usd }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ (stock.total_shares * current_prices[stock.symbol]["price"]) | usd }}</td>
                </tr>
            {% endfor %}

        <tr>
            <td colspan="4", align="left">Cash</td>
            <td>{{  cash  | usd }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4", align="left">Grand Total</td>
            <td>{{ grand_total  | usd }}</td>
        </tr>
    </tfoot>

</table>

{% endblock %}